<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My To-Do List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

<div id="app">
    <v-app>
        <v-content>
            <v-container grid-list-lg>
                <v-layout wrap column align-center justify-center>
                    <v-flex style="width: 500px;">
                        <v-text-field solo hide-details placeholder="Input your task here..."
                                      v-model="task" append-icon="send" @click:append="createTodo"></v-text-field>
                    </v-flex>
                    <v-flex v-for="(todo,i) in todoList" style="width: 500px;">
                        <v-card>
                            <v-card-text v-if="todo.ui.edit">
                                <v-text-field full-width hide-details placeholder="Input your task here..."
                                              v-model="todo.modifiedTask"></v-text-field>
                            </v-card-text>
                            <v-card-text v-else>{{todo.data.task}}</v-card-text>
                            <v-card-actions v-if="todo.ui.edit">
                                <v-spacer></v-spacer>
                                <v-btn outline @click="todo.ui.edit = false;todo.modifiedTask = todo.data.task">
                                    Cancel
                                </v-btn>
                                <v-btn depressed color="primary" @click="modifyTodo(todo)">
                                    Save
                                </v-btn>
                            </v-card-actions>
                            <v-card-actions v-else>
                                <v-btn icon
                                       @click="toggleCompletion(todo)">
                                    <v-icon v-if="todo.data.completed">check_box</v-icon>
                                    <v-icon v-else>check_box_outline_blank</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn icon @click="todo.ui.edit = true">
                                    <v-icon>edit</v-icon>
                                </v-btn>
                                <v-btn icon @click="deleteTodo(todo)">
                                    <v-icon>delete</v-icon>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            todoList: [],
            task: ''
        },
        methods: {
            getTodoCount() {
                if (this.todoList.length === 0) {
                    return '';
                }

                return this.todoList.filter(todo => todo.data.completed).length + '/' + this.todoList.length + ' ';
            },
            updateTitle() {
                document.title = this.getTodoCount() + 'My To-Do List';
            },
            wrapTodo(todo) {
                return {data: todo, ui: {edit: false}, modifiedTask: todo.task};
            },
            getTodoList() {
                const it = this;
                fetch('/api/todo')
                    .then(response => response.json())
                    .then(todoList => it.todoList = todoList.map(todo => it.wrapTodo(todo)))
                    .finally(() => {
                        it.updateTitle();
                    });
            },
            getTodoById(id, exists = true) {
                const it = this;
                fetch('/api/todo/' + id)
                    .then(response => response.json())
                    .then(todo => {
                        if (exists) {
                            it.todoList.filter(t => t.data.id === id).forEach(t => {
                                t.data.task = todo.task;
                                t.data.completed = todo.completed;
                            });
                        } else {
                            it.todoList.unshift(it.wrapTodo(todo));
                        }
                    })
                    .finally(() => it.updateTitle());
            },
            createTodo() {
                const it = this;
                fetch('/api/todo?task=' + this.task, {method: 'POST'})
                    .finally(() => it.task = '');
            },
            modifyTodo(todo) {
                fetch('/api/todo/' + todo.data.id + '?task=' + todo.modifiedTask, {method: 'PATCH'})
                    .finally(() => {
                        todo.data.task = todo.modifiedTask;
                        todo.ui.edit = false;
                    })
            },
            toggleCompletion(todo) {
                todo.data.completed ? this.markTodoAsNotCompleted(todo) : this.markTodoAsCompleted(todo);
            },
            markTodoAsCompleted(todo) {
                fetch('/api/todo/' + todo.data.id + '/completed', {method: 'PATCH'})
                    .finally()
            },
            markTodoAsNotCompleted(todo) {
                fetch('/api/todo/' + todo.data.id + '/notCompleted', {method: 'PATCH'})
                    .finally()
            },
            deleteTodo(todo) {
                fetch('/api/todo/' + todo.data.id, {method: 'DELETE'})
                    .finally()
            },
            subscribeOnEvents() {
                const it = this;
                const eventSource = new EventSource('/api/todo/events');
                eventSource.onmessage = (message) => {
                    const event = JSON.parse(message.data);
                    switch (event.event) {
                        case 'TodoCreated':
                            it.getTodoById(event.todoId, false);
                            break;
                        case 'TodoDeleted':
                            it.todoList = it.todoList.filter(todo => todo.data.id !== event.todoId);
                            it.updateTitle();
                            break;
                        default:
                            it.getTodoById(event.todoId);
                            break;
                    }
                };
            }
        },
        mounted() {
            this.getTodoList();
            this.subscribeOnEvents();
        }
    })
</script>
</body>
</html>
